<div class="container-fluid">
    <div class="col">

        <!-- SECTION ONE  -->

        <div class="c-row section-one">
            <div class="l-dashboard-title">
                <h3>Account Management</h3>

            </div>

           

        </div>

        <div class="l-layout-all-components">




                
                    <div routerLink="create-account" class="c-menu-card success_other">
                        <div class="row justify-content-between">
                            <div>
                                <img src="../../../assets/img/bankicons/011-bank-1.svg" alt="" class="image-30">
                            </div>
                            <!-- <div class="c-background-icon">
                                        <img src="../../../assets/img/succes_bg.svg" alt="">
                                    </div> -->
                            <div class="card-col">
                                <div class="card-text-other">
                                        <h2 class="v-hidden">
                                        12
                                    </h2>
                                </div>
                                <div class="card-text-other">
                                    Create Account
                                </div>
                            </div>
                        </div>
                    </div>



                    <div  routerLink="create-bulk-account" class="c-menu-card applications_other">
                            <div class="row justify-content-between">
                                <div>
                                    <img src="../../../../assets/img/bankicons/009-bag.svg" class="image-30" alt="">
                                </div>
                                <!-- <div class="c-background-icon">
                                            <img src="../../../assets/img/application_bg.svg" alt="">
                                        </div> -->
                                <div class="card-col">
                                    <div class="card-text-other">
                                        <h2 class="v-hidden">
                                            12
                                        </h2>
                                    </div>
                                    <div class="card-text-other">
                                        Create <br> Bulk Account
                                    </div>
                                </div>
                            </div>
                        </div>



                    <div  routerLink="freeze-account" class="c-menu-card success_other">
                            <div class="row justify-content-between">
                                <div>
                                    <img src="../../../../assets/img/bankicons/001-money.svg" alt="" class="image-30">
                                </div>
                                <!-- <div class="c-background-icon">
                                            <img src="../../../assets/img/succes_bg.svg" alt="">
                                        </div> -->
                                <div class="card-col">
                                    <div class="card-text-other">
                                            <h2 class="v-hidden">
                                            12
                                        </h2>
                                    </div>
                                    <div class="card-text-other">
                                        Freeze Account
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div routerLink="transfer-funds" class="c-menu-card applications_other">
                                <div class="row justify-content-between">
                                    <div>
                                        <img src="../../../assets/img/bankicons/032-transfer.svg" class="image-30" alt="">
                                    </div>
                                    <!-- <div class="c-background-icon">
                                                <img src="../../../assets/img/application_bg.svg" alt="">
                                            </div> -->
                                    <div class="card-col">
                                        <div class="card-text-other">
                                            <h2 class="v-hidden">
                                                12
                                            </h2>
                                        </div>
                                        <div class="card-text-other">
                                            Transfer Funds
                                        </div>
                                    </div>
                                </div>
                            </div>


        </div>
    </div>
</div>