<div class="container-fluid">
        <div class="col">
    
            <!-- SECTION ONE  -->
    
            <div class="c-row section-one">
                <div class="l-dashboard-title">
                    <h3>Loan Application Management</h3>
    
                </div>
    
               
    
            </div>
    
            <div class="l-layout-all-components">
    
                
                    <div routerLink="loan-disbursement-reports" class="c-menu-card applications_other">
                            <div class="row justify-content-between">
                                <div>
                                    <img src="../../../assets/img/bankicons/030-money-box.svg" class="image-30" alt="">
                                </div>
                                <!-- <div class="c-background-icon">
                                            <img src="../../../assets/img/application_bg.svg" alt="">
                                        </div> -->
                                <div class="card-col">
                                    <div class="card-text-other">
                                        <h2 class="v-hidden">
                                            12
                                        </h2>
                                    </div>
                                    <div class="card-text-other">
                                           Loan Disbursement 
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div routerLink="loan-transaction-history" class="c-menu-card applications_other">
                                <div class="row justify-content-between">
                                    <div>
                                        <img src="../../../assets/img/bankicons/004-letter.svg" class="image-30" alt="">
                                    </div>
                                    <!-- <div class="c-background-icon">
                                                <img src="../../../assets/img/application_bg.svg" alt="">
                                            </div> -->
                                    <div class="card-col">
                                        <div class="card-text-other">
                                            <h2 class="v-hidden">
                                                12
                                            </h2>
                                        </div>
                                        <div class="card-text-other">
                                            Transaction History 
                                        </div>
                                    </div>
                                </div>
                            </div>

    
    
               
    
            </div>
        </div>
    </div>