<div class="container-fluid">
        <div class="col">
    
            <!-- SECTION ONE  -->
    
            <div class="c-row section-one">
                <div class="l-dashboard-title">
                    <h3>Card Management</h3>
    
                </div>
    
               
    
            </div>
    
            <div class="l-layout-all-components">
    
                
                    <div routerLink="create-card" class="c-menu-card applications_other">
                            <div class="row justify-content-between">
                                <div>
                                    <img src="../../../assets/img/bankicons/032-transfer.svg" class="image-30" alt="">
                                </div>
                                <!-- <div class="c-background-icon">
                                            <img src="../../../assets/img/application_bg.svg" alt="">
                                        </div> -->
                                <div class="card-col">
                                    <div class="card-text-other">
                                        <h2 class="v-hidden">
                                            12
                                        </h2>
                                    </div>
                                    <div class="card-text-other">
                                        Create Card
                                    </div>
                                </div>
                            </div>
                        </div>

    
    
                    <div routerLink="create-bulk-card" class="c-menu-card applications_other">
                            <div class="row justify-content-between">
                                <div>
                                    <img src="../../../assets/img/bankicons/032-transfer.svg" class="image-30" alt="">
                                </div>
                                <!-- <div class="c-background-icon">
                                            <img src="../../../assets/img/application_bg.svg" alt="">
                                        </div> -->
                                <div class="card-col">
                                    <div class="card-text-other">
                                        <h2 class="v-hidden">
                                            12
                                        </h2>
                                    </div>
                                    <div class="card-text-other">
                                        Create Bulk Card
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div routerLink="freeze-card" class="c-menu-card success_other">
                            <div class="row justify-content-between">
                                <div>
                                    <img src="../../../../assets/img/bankicons/029-security-payment.svg" alt="" class="image-30">
                                </div>
                                <!-- <div class="c-background-icon">
                                            <img src="../../../assets/img/succes_bg.svg" alt="">
                                        </div> -->
                                <div class="card-col">
                                    <div class="card-text-other">
                                            <h2 class="v-hidden">
                                            12
                                        </h2>
                                    </div>
                                    <div class="card-text-other">
                                       Freeze Card
                                    </div>
                                </div>
                            </div>
                        </div>
    
    
            </div>
        </div>
    </div>