<div class="c-login-body">

            <div class="login-card-body">
           
                <div class="kol">

                        <div class="l-login-logo">
                                <img src="../../../assets/img/LOGOWHITE.png" alt="dashboard-logo">
                            </div>
                            <div class="login-card-bg">
                    
                                <div class="c-login-form-holder">
                    
                                    <form class="c-login-form">
                                        <div class="c-login-title">
                                            <div class="theme-font-color">Login to Fund Vault</div>
                                            <div class="h6">CORE BANKING APPLICATION</div>
                                        </div>
                                        
                                        <input class="form-control mb-4" type="text" placeholder="User ID">
                                        <input class="form-control mb-4" type="password" placeholder="Password">
                                        <button class="form-control mb-4 l-login-button" routerLink="/dashboard">Login</button>
                                        <div class="c-reset-password mb-4">
                                            <a href="">Reset Password</a>
                                        </div>
                                    </form>
                                </div>
                            </div>

                </div>
    </div>
</div>